################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backp
/bin/Debug/Rust
/bin/Debug/ClientFolders/127.0.0.1-53779/Rust
