################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backp
/bin/Debug/Rust
/bin/Debug/ClientFolders/127.0.0.1-53779/Rust
/.cr/personal/Unit Testing
/bin/Debug/ClientFolders/127.0.0.1-51151/Rust
/bin/Release/Rust
/bin/Release/DeltaStorage
/bin/Release
/obj/Release
/obj/x64/Release
